{% extends 'base.html.twig' %}

{% block title %}Nový klient{% endblock %}
{% block body %}
    <a class="btn btn-warning" href="{{ path("test_index") }}"><i class="fa fa-home"></i> Zpět na přehled</a>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.firstName, 'Křestní jméno') }}
            {{ form_errors(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lastName, 'Příjmení') }}
            {{ form_errors(form.lastName) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.phoneNumber, 'Telefon') }}
            {{ form_errors(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.mailAddress, 'E-Mail') }}
            {{ form_errors(form.mailAddress) }}
            {{ form_widget(form.mailAddress, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">Uložit</button>
    {{ form_end(form) }}
{% endblock %}